---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-4xl bg-clip-text text-transparent bg-gradient-to-br
			from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% ">
			Hi I'm Mohamed Ali</h1>
		</main>
		<Footer />
	</body>
</html>
